# 1. DEFINE A PANDAS DATAFRAME

In [ ]:
import pandas as pd

In [ ]:
# Let's define a two-dimensional Pandas DataFrame
# Note that you can create a pandas dataframe from a python dictionary
bank_client_df = pd.DataFrame({'Bank client ID':[111, 222, 333, 444], 
                               'Bank Client Name':['Laila Aly', 'Kate Steve', 'Nicole Mitch', 'Francis Morris'], 
                               'Net worth [$]':[35000, 3000, 100000, 2000], 
                               'Years with bank':[4, 7, 10, 15]})
bank_client_df

In [ ]:
# Let's obtain the data type 
type(bank_client_df)

In [ ]:
# you can only view the first couple of rows using .head()
bank_client_df.head(2)

In [ ]:
# you can only view the last couple of rows using .tail()
bank_client_df.tail(1)

In [ ]:
# You can obtain the shape of the DataFrame (#rows, #columns)
bank_client_df.shape

In [ ]:
# Obtain DataFrame information 
bank_client_df.info()

**MINI CHALLENGE #1:**
- **A porfolio contains a collection of securities such as stocks, bonds and ETFs. Define a dataframe named 'portfolio_df' that holds 3 different stock ticker symbols, number of shares, and price per share (feel free to choose any stocks)**
- **Calculate the total value of the porfolio including all stocks**

# 2. INPUTS (READ CSV AND HTML DATA)

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
bank_df = pd.read_csv('bank_client_information.csv')

In [ ]:
bank_df

In [ ]:
# Read tabular data using read_html
house_prices_df = pd.read_html('https://www.livingin-canada.com/house-prices-canada.html')

In [ ]:
house_prices_df[0]

In [ ]:
house_prices_df[1]

**MINI CHALLENGE #2:**
- **Write a code that uses Pandas to read tabular US retirement data**
- **You can use data from here: https://www.ssa.gov/oact/progdata/nra.html**

# 3. OUTPUTS (WRITE DATAFRAME INTO CSV)

In [ ]:
# Let's define a two-dimensional Pandas DataFrame
# Note that you can create a pandas dataframe from a python dictionary
bank_df = pd.read_csv('bank_client_information.csv')
bank_df

In [ ]:
# write to a csv file without an index
bank_df.to_csv('sample_output_index.csv', index = True)

**MINI CHALLENGE #3:**
- **Use set index = False and rerun the cell. Comment on the output CSV.**
- **Try to leverage the attribute compression and rerun the cell**

# 4. SETTING/RESETTING INDEX

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
# Note that a numeric index is being set by default
bank_df = pd.read_csv('bank_client_information.csv')
bank_df

In [ ]:
# You can assign a specific column to be the index as follows
bank_df.set_index("First Name", inplace = True)
bank_df

In [ ]:
# You can go back and use numeric index using reset_index
bank_df.reset_index(inplace = True)
bank_df

In [ ]:
# Alternatively, you can set the index name when you read the csv file as follows
bank_df = pd.read_csv('bank_client_information.csv', index_col = 'First Name')
bank_df

**MINI CHALLENGE #4:**
- **Load the bank_client_information.csv and then set the "Last Name" column as the index**

# 5. SELECTING COLUMNS FROM A DATAFRAME

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
bank_df = pd.read_csv('bank_client_information.csv')
bank_df

In [ ]:
# Return a column from the DataFrame
# Note that the output will be a Pandas Series (you can automatically tell by the lack of formating)
sample = bank_df['Email']
sample

In [ ]:
# Confirm the datatype of sample
type(sample)

In [ ]:
# Alternatively, you can use the following syntax to do the same
# Note that this method will not work if there are spaces in the column names
bank_df.Email

In [ ]:
# Since the column name has spaces, this will be the only way that will work!
bank_df['Net Worth']

In [ ]:
# Let's select multiple columns from the DataFrame
# you need to define a list containing all column names that you would like to select
# Note that since we collected more than one column, the output is a DataFrame (Notice the rich formatting)
sample = bank_df[['First Name', 'Net Worth']]
sample

In [ ]:
# Note that sample is now a DataFrame and not a Pandas Series (since it has multiple columns)
# You can use type to confirm or you can tell from the rich text formating
type(sample)

In [ ]:
# Alternatively, you can define a list first and then use it to select columns
my_selected_columns = ['First Name', 'Net Worth']
sample = bank_df[my_selected_columns]
sample

In [ ]:
# In order to access a given row in the dataframe
bank_df[0:2]

**MINI CHALLENGE #5:**
- **Select the following columns from the dataFrame Net Worth, Years with Bank, and Postal Code**

# 6. ADDING/DELETING COLUMNS TO DATAFRAME

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
bank_df = pd.read_csv('bank_client_information.csv')
bank_df

In [ ]:
# Let's assume that we want to add a new column to the dataframe
bank_df['Age'] = [25, 26, 28, 30, 36, 22, 48, 55, 70, 69]

In [ ]:
bank_df

In [ ]:
# You can also insert a new column in a given position 
bank_df.insert(0, column = 'Credit Score', value = [680, 700, 750, 699, 550, 600, 750, 500, 520, 510])

In [ ]:
bank_df

In [ ]:
# Delete a column from a DataFrame
del bank_df['Email']
bank_df

In [ ]:
bank_df.drop(labels = ["Last Name", "Net Worth"], axis = 1, inplace = True)
bank_df

In [ ]:
# Remove a column from a DataFrame and store it somehwere else using pop
Years_with_bank = bank_df.pop("Years with Bank")
Years_with_bank

**MINI CHALLENGE #6:**
- **load the bank_client_information.csv file and perform the following: (assume any reasonable values)** 
    - **Add a column indicating whether the client has a mortgage or not**
    - **Add a column indicating the value of mortage in dollars**

# 7. LABEL-BASED ELEMENTS SELECTION FROM A DATAFRAME ".LOC()"

In [ ]:
# Load the csv file and set the last name as the index
bank_df = pd.read_csv('bank_client_information.csv', index_col = 'Last Name')
bank_df

In [ ]:
# Sort the dataframe in an alphabetical order
bank_df.sort_index(inplace = True)

In [ ]:
bank_df

In [ ]:
# loc is used to filter rows and columns
# loc is label-based meaning you need to give a name of the rows (or columns) that you are interested in selecting
# Note that iloc is "integer index-based" meaning you can filter rows/columns by their integer index.
# Note that we obtained a Series because last name "Small" existed only once in the dataframe

bank_df.loc['Small']

In [ ]:
# Note that you got a DataFrame back since Last Name 'Steve' existed more than one in the DataFrame
bank_df.loc['Steve']

In [ ]:
# Note that you can select multiple rows using "colon :"
# Note that this is inclusive! meaning that "Ahmed" and "Patton" were selected in the output DataFrame
# Headsup: this will be different if we use integer based index such as iloc()

bank_df.loc['Ahmed':'Patton']

In [ ]:
# Select all elements up to and including 'Keller' index
bank_df.loc[:'Keller']

In [ ]:
# if you want to select multiple rows, you can pass them as a list as follows
bank_df.loc[["Keller", "Steve", "Mo"]]

In [ ]:
# You can also randomly select a fraction of the DataFrame
# Setting axis = 0 means rows, setting index = 1 means columns
bank_df.sample(n = 5, axis = 0)

In [ ]:
# return a percentage (Ex: 30%) of the rows 
bank_df.sample(frac = 0.3, axis = 0)

**MINI CHALLENGE #7:**
- **Load the csv data and use the "first name" column as the index**
- **Randomly select 2 rows from the DataFrame. Rerun the code and ensure that random rows are being selected**

# 8. INTEGER INDEX-BASED ELEMENTS SELECTION FROM A DATAFRAME "iLOC()"

In [ ]:
# Load the CSV file with default index
bank_df = pd.read_csv('bank_client_information.csv')
bank_df

In [ ]:
# You can access rows with their numeric index using iloc
bank_df.iloc[9]

In [ ]:
# You can access multiple rows with their numeric index using iloc and colon :
# Note that using iloc is exclusive, meaning that we did not include the last element (quite confusing I know!)
# We went from index = 2 up until and not including index 5 so index 2,3, and 4 are the one selected
bank_df.iloc[2:5]

In [ ]:
# all up until and not including index 4
bank_df.iloc[:4]

In [ ]:
# Multiple elements are selected using a list of indexes 
bank_df.iloc[[2, 4, 9]]

In [ ]:
# Slicing a piece of the dataframe by selecting which row and column you would like to select
bank_df.iloc[4, 0:3]

**MINI CHALLENGE #8:**
- **Write a code that selects the last two rows in the DataFrame using two different methods**

# 9. BROADCASTING OPERATIONS & SETTING NEW DATAFRAME VALUES

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
bank_df = pd.read_csv('bank_client_information.csv')
bank_df

In [ ]:
# Let's assume that we want to update the networth of all our customers by $1000
bank_df['Net Worth'] = bank_df['Net Worth'] + 1000

In [ ]:
bank_df

In [ ]:
# Alternatively, you can add or subtract as follows
bank_df['Net Worth'] = bank_df['Net Worth'].add(1000)
bank_df

In [ ]:
# Let's convert from USD to CAD using the exchange rate 1 USD = 1.3 CAD 
bank_df['Net Worth (CAD)'] = bank_df['Net Worth'].mul(1.3)
bank_df

In [ ]:
# Decided to update the email address of a given customer
bank_df.iloc[4, 2] = 'kate.noor@gmail.com'

In [ ]:
bank_df

In [ ]:
# Let's assume we want to update the networth of two clients
bank_df.iloc[[0,3], [4]] = [6000, 15000]

In [ ]:
bank_df

**MINI CHALLENGE #9:**
- **Let's assume that all clients in the bank has been investing their assets in a broad S&P500 ETF. The market has been performing really well and clients networth has increased by 12% annualy. Calculate the sum of all client's networth.**

# 10. SORTING AND ORDERING

In [ ]:
# Let's read a CSV file using Pandas as follows
bank_df = pd.read_csv('bank_client_information.csv')
bank_df

In [ ]:
# You can sort the values in the dataframe according to number of years with bank
bank_df.sort_values(by = 'Years with Bank')

In [ ]:
# Note that nothing changed in memory! you have to make sure that inplace is set to True
bank_df

In [ ]:
# Set inplace = True to ensure that change has taken place in memory 
bank_df.sort_values(by = 'Years with Bank', inplace = True)

In [ ]:
# Note that now the change (ordering) took place 
bank_df

In [ ]:
# You can sort the values in a descending order as follows
bank_df.sort_values(by = 'Years with Bank', ascending = False, inplace = True) 
bank_df

In [ ]:
# You can sort the dataframe with index instead of values as follows
bank_df.sort_index(inplace = True) 
bank_df

In [ ]:
bank_df["Rank"] = bank_df["Net Worth"].rank(ascending = True).astype("int")

In [ ]:
bank_df

**MINI CHALLENGE #10:**
- **Sort customers by networth instead of years with bank. Make sure to update values in-memory.**

# 11. PANDAS WITH FUNCTIONS

In [ ]:
# Let's read a CSV file using Pandas as follows
bank_df = pd.read_csv('bank_client_information.csv')
bank_df

In [ ]:
# Define a function that increases all clients networth by a fixed value of 10% (for simplicity sake) 
def networth_update(balance):
    return balance * 1.1 # assume that net worth increased by 10%

In [ ]:
# You can apply a function to the DataFrame 
bank_df['Net Worth'] = bank_df['Net Worth'].apply(networth_update)
bank_df

In [ ]:
bank_df['Name Length'] = bank_df['First Name'].apply(len)
bank_df

In [ ]:
bank_df['Years with Bank'].sum()

**MINI CHALLENGE #11:**
- **Define a function that doubles an argument and adds $100**
- **Apply the function to the Net Worth Column in the DataFrame**
- **Calculate the updated total networth of all clients combined**

# 12. PANDAS OPERATIONS/FILTERING

In [ ]:
# Let's read a CSV file using Pandas as follows
bank_df = pd.read_csv('bank_client_information.csv')
bank_df

In [ ]:
# Pick certain rows that satisfy a certain criteria 
df_loyal = bank_df[ (bank_df['Years with Bank'] >= 10) ]
df_loyal

In [ ]:
# Pick certain rows that satisfy 2 or more critirea

mask_1 = bank_df['Years with Bank'] >= 10
mask_2 = bank_df['Net Worth'] >= 50000

df_loyal = bank_df[mask_1 & mask_2 ]
df_loyal

In [ ]:
# Pick certain rows that satisfy a certain criteria 
df_filtered = bank_df[ (bank_df['First Name'] == 'Heba') ]
df_filtered

In [ ]:
mask = bank_df['Last Name'].isin(['Steve', 'Mo'])
bank_df[mask]

In [ ]:
# values that fall between a given range
bank_df[bank_df["Net Worth"].between(5000, 9000)]

In [ ]:
# Delete duplicated rows
bank_df["Last Name"].duplicated(keep = False)

In [ ]:
mask = ~bank_df["Last Name"].duplicated(keep = False)
# add a tilde symbol ~
bank_df[mask]

In [ ]:
# Let's read a CSV file using Pandas as follows
bank_df = pd.read_csv('bank_client_information.csv')
bank_df

# Drop duplicates
bank_df.drop_duplicates(subset = ["Last Name"], inplace = True)

In [ ]:
bank_df

In [ ]:
# We can also filter the Dataframe using the where method as follows
# Note that all rows that don't satisfy this critirea are set to NaN
bank_df = pd.read_csv('bank_client_information.csv')
mask = bank_df['Net Worth'] >= 20000

bank_df.where(mask)

**MINI CHALLENGE #12:**
- **Using "bank_client_df" DataFrame, leverage pandas operations to only select high networth individuals with minimum $15000** 
- **What is the combined networth for all customers with 15000+ networth?**

# 13. FEATURE ENGINEERING AND DEALING WITH MISSING DATASET

In [ ]:
# Let's read a CSV file using Pandas as follows
employee_df = pd.read_csv('Human_Resources.csv')
employee_df

In [ ]:
# first, let's locate rows that have Null values
employee_df.isnull()

In [ ]:
# first, let's locate rows that have Null values
employee_df.isnull().sum()

In [ ]:
# Drop any row that contains a Null value 
# Note that the size of the dataframe has been reduced by 7 elements
# Note that all will be used to drop rows that contains only Null values
employee_df.dropna(how = 'any', inplace = True)

In [ ]:
employee_df

In [ ]:
# Let's read a CSV file using Pandas as follows
employee_df = pd.read_csv('Human_Resources.csv')
employee_df

In [ ]:
# We can also indicate which columns we want to drop NaN from
employee_df.dropna(how = 'any', inplace = True, subset = ['MonthlyIncome', 'PercentSalaryHike'])

In [ ]:
employee_df

In [ ]:
# Let's read a CSV file using Pandas as follows
employee_df = pd.read_csv('Human_Resources.csv')
employee_df

In [ ]:
# Calculate the average monthly income
employee_df['MonthlyIncome'].mean()

In [ ]:
# You can use Fillna to fill a given column with a certain value
employee_df["MonthlyIncome"].fillna(employee_df['MonthlyIncome'].mean(), inplace = True)

In [ ]:
employee_df

**MINI CHALLENGE #13:**
- **Calculate the median monthly rate. Use the calculated median values to fill out missing data. Confirm that the process is successful**

# 14. CHANGE DATATYPES

In [ ]:
# Let's read a CSV file using Pandas as follows
employee_df = pd.read_csv('Human_Resources.csv')
employee_df

In [ ]:
employee_df.info()

In [ ]:
# Let's convert the hourly rate from int64 to float64
employee_df["HourlyRate"] = employee_df["HourlyRate"].astype("float64")
employee_df.info()

In [ ]:
# Since we have limited number of classes, we can use the categrory datatype
# check the memory usage with the info method to ensure that the size has been reduced
employee_df["PerformanceRating"] = employee_df['PerformanceRating'].astype("category")
employee_df["RelationshipSatisfaction"] = employee_df['RelationshipSatisfaction'].astype("category")
employee_df

In [ ]:
# Notice the reduction in size
employee_df.info()

**MINI CHALLENGE #14:**
- **Convert the BusinessTravel column to category format.** 
- **How many KBytes in memory have been saved?**

# EXCELLENT JOB!

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **A porfolio contains a collection of securities such as stocks, bonds and ETFs. Define a dataframe named 'portfolio_df' that holds 3 different stock ticker symbols, number of shares, and price per share (feel free to choose any stocks)**
- **Calculate the total value of the porfolio including all stocks**

In [ ]:
portfolio_df = pd.DataFrame({'stock ticker symbols':['AAPL', 'AMZN', 'T'],
                             'price per share [$]':[3500, 200, 40], 
                             'Number of stocks':[3, 4, 9]})
portfolio_df

In [ ]:
stocks_dollar_value = portfolio_df['price per share [$]'] * portfolio_df['Number of stocks']
print(stocks_dollar_value)

In [ ]:
print('Total portfolio value = {}'.format(stocks_dollar_value.sum()))

**MINI CHALLENGE #2 SOLUTION:**
- **Write a code that uses Pandas to read tabular US retirement data**
- **You can use data from here: https://www.ssa.gov/oact/progdata/nra.html**

In [ ]:
# Read tabular data using read_html
retirement_age_df = pd.read_html('https://www.ssa.gov/oact/progdata/nra.html')
retirement_age_df

**MINI CHALLENGE #3 SOLUTION:**
- **Use set index = False and rerun the cell. Comment on the output CSV.**
- **Try to leverage the attribute compression and rerun the cell**

In [ ]:
# write to a csv file without an index
bank_df.to_csv('sample_output_noindex.csv', index = False)

In [ ]:
# write to a csv file with an index + gzip Compression
bank_df.to_csv('sample_output_noindex.csv.gz', index = False, compression = 'gzip')

**MINI CHALLENGE #4 SOLUTION:**
- **Load the bank_client_information.csv and then set the "Last Name" column as the index**

In [ ]:
bank_df = pd.read_csv('bank_client_information.csv')
bank_df

In [ ]:
# You can assign a specific column to be the index as follows
bank_df.set_index("Last Name", inplace = True)
bank_df

**MINI CHALLENGE #5 SOLUTION:**
- **Select the following columns from the dataFrame Net Worth, Years with Bank, and Postal Code**

In [ ]:
my_selected_columns = ['Net Worth', 'Years with Bank', 'Postal Code']
sample = bank_df[my_selected_columns]
sample

**MINI CHALLENGE #6 SOLUTION:**
- **load the bank_client_information.csv file and perform the following: (assume any reasonable values)** 
    - **Add a column indicating whether the client has a mortgage or not**
    - **Add a column indicating the value of mortage in dollars**

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
bank_df = pd.read_csv('bank_client_information.csv')
bank_df

# Let's assume that we want to add a new column to the dataframe
bank_df['Has Mortage'] = [1, 1, 0, 0, 0, 0, 1, 0, 0, 0]
bank_df['Mortage Value'] = [200000, 130000, 0, 0, 0, 0, 400000, 0, 0, 0]
bank_df

**MINI CHALLENGE #7 SOLUTION:**
- **Load the csv data and use the "first name" column as the index**
- **Randomly select 2 rows from the DataFrame. Rerun the code and ensure that random rows are being selected**

In [ ]:
# Load the csv file and set the last name as the index
bank_df = pd.read_csv('bank_client_information.csv', index_col = 'First Name')
bank_df
# You can also randomly select a fraction of the DataFrame
# Setting axis = 0 means rows, setting index = 1 means columns
bank_df.sample(n = 2, axis = 0)

**MINI CHALLENGE #8 SOLUTION:**
- **Write a code that selects the last two rows in the DataFrame using two different methods**

In [ ]:
bank_df.iloc[8:]

In [ ]:
bank_df.iloc[-2:]

**MINI CHALLENGE #9 SOLUTION:**
- **Let's assume that all clients in the bank has been investing their assets in a broad S&P500 ETF. The market has been performing really well and clients networth has increased by 12% annualy. Calculate the sum of all client's networth.**

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
bank_df = pd.read_csv('bank_client_information.csv')
bank_df

In [ ]:
# Let's convert from USD to CAD using the exchange rate 1 USD = 1.3 CAD 
bank_df['Net Worth New'] = bank_df['Net Worth'].mul(1.12)
bank_df

In [ ]:
bank_df['Net Worth New'].sum()

In [ ]:
print("Total networth for all clients = ${}".format( bank_df['Net Worth New'].sum()))

**MINI CHALLENGE #10 SOLUTION:**
- **Sort customers by networth instead of years with bank. Make sure to update values in-memory.**

In [ ]:
# You can sort the values in the dataframe according to number of years with bank
bank_df.sort_values(by = 'Net Worth', inplace = True) 
bank_df

**MINI CHALLENGE #11 SOLUTION:**
- **Define a function that doubles stock prices and adds $100**
- **Apply the function to the DataFrame**
- **Calculate the updated total networth of all clients combined**

In [ ]:
def networth_update(balance):
    return balance * 2 + 100 # assume that stock prices increased by 10%

In [ ]:
# You can apply a function to the DataFrame 
results = bank_df['Net Worth'].apply(networth_update)
results

In [ ]:
results.sum()

**MINI CHALLENGE #12 SOLUTION:**
- **Using "bank_client_df" DataFrame, leverage pandas operations to only select high networth individuals with minimum $15000** 
- **What is the combined networth for all customers with 15000+ networth?**

In [ ]:
df_high_networth = bank_df[ (bank_df['Net Worth'] >= 15000) ]
df_high_networth

In [ ]:
df_high_networth['Net Worth'].sum()

**MINI CHALLENGE #13 SOLUTION:**
- **Calculate the median monthly rate. Use the calculated median values to fill out missing data. Confirm that the process is successful**

In [ ]:
# Let's read a CSV file using Pandas as follows
employee_df = pd.read_csv('Human_Resources.csv')
employee_df

In [ ]:
# first, let's locate rows that have Null values
employee_df.isnull().sum()

In [ ]:
# Calculate the average monthly income
employee_df['MonthlyRate'].median()

In [ ]:
# You can use Fillna to fill a given column with a certain value
employee_df['MonthlyRate'].fillna(employee_df['MonthlyRate'].median(), inplace = True)

In [ ]:
employee_df

In [ ]:
# first, let's locate rows that have Null values
employee_df.isnull().sum()

**MINI CHALLENGE #14 SOLUTION:**
- **Convert the BusinessTravel column to category format.** 
- **How many KBytes in memory have been saved?**

In [ ]:
# Let's read a CSV file using Pandas as follows
employee_df = pd.read_csv('Human_Resources.csv')
employee_df.info()

In [ ]:
employee_df["BusinessTravel"] = employee_df['BusinessTravel'].astype("category")
employee_df.info()

In [ ]:
# 402.1+ KB vs. 392.1+ KB

**MINI CHALLENGE #6 SOLUTION:**
- **Let's assume that you became a new client to the bank**
- **Define a new DataFrame that contains your information such as client ID (choose 11), first name, last name, and annual salary.**
- **Add this new dataframe to the original dataframe "bank_df_all".**

In [ ]:
new_client = {
        'Bank Client ID': ['11'],
        'First Name': ['Ry'], 
        'Last Name': ['Aly'],
        'Annual Salary [$/year]' : [1000]}
new_client_df = pd.DataFrame(new_client, columns = ['Bank Client ID', 'First Name', 'Last Name', 'Annual Salary [$/year]'])
new_client_df

In [ ]:
new_df = pd.concat([bank_df_all, new_client_df], axis = 0)
new_df

**MINI CHALLENGE #6 SOLUTION:**
- **Let's assume that you became a new client to the bank**
- **Define a new DataFrame that contains your information such as client ID (choose 11), first name, last name, and annual salary.**
- **Add this new dataframe to the original dataframe "bank_df_all".**

In [ ]:
new_client = {
        'Bank Client ID': ['11'],
        'First Name': ['Ry'], 
        'Last Name': ['Aly'],
        'Annual Salary [$/year]' : [1000]}
new_client_df = pd.DataFrame(new_client, columns = ['Bank Client ID', 'First Name', 'Last Name', 'Annual Salary [$/year]'])
new_client_df

In [ ]:
new_df = pd.concat([bank_df_all, new_client_df], axis = 0)
new_df